<article class="index-post" th:fragment="index-post">
    <a class="abstract-title" th:href="${post.status.permalink}">
        <span class="iconfont-archer stick-top" th:if="${post.spec.pinned}">&#xe63d;</span>
        <span class="abstract-title-text" th:text="${post.spec.title ?: '[Untitled Post]'}">Post Title</span>
    </a>

    <th:block
        th:with="postDepthStr=${post.metadata.annotations != null ? post.metadata.annotations['rich_excerpt_depth'] : null},
                 isRich=${theme.config.style.enable_rich_excerpt and !#strings.isEmpty(postDepthStr)},
                 finalDepth=${!#strings.isEmpty(postDepthStr) ? T(java.lang.Integer).parseInt(postDepthStr) : 0},
                 fullContentVo=${isRich ? postFinder.content(post.metadata.name) : null}">

        <div th:classappend="${finalDepth > 0} ? 'truncate' : ''"
             th:attr="data-truncate-depth=${finalDepth > 0 ? finalDepth : ''}"
             class="abstract-content rich-content" th:if="${isRich} and ${fullContentVo != null}">
            <th:block th:utext="${fullContentVo.content}"></th:block>
            <!-- Add a fade-out effect overlay if desired, or relying on height limit -->
        </div>

        <div class="abstract-content" th:unless="${isRich}">
            <div th:if="${post.status.excerpt}" th:utext="${post.status.excerpt}"></div>
            <div class="abstract-empty" th:if="${#strings.isEmpty(post.status.excerpt)}" style="height: 1rem;"></div>
        </div>
    </th:block>

    <div class="abstract-read-more-button" th:if="${theme.config.style.read_more_button}">
        <a th:href="${post.status.permalink}">
            <span style="margin-right: 0.2rem">阅读更多</span>
            <span class="iconfont-archer">&#xe775;</span>
        </a>
    </div>

    <div class="abstract-post-meta">
        <div>
            <span class="iconfont-archer abstract-calander"></span>
            <span th:text="${#dates.format(post.spec.publishTime, 'yyyy/MM/dd')}">2024/01/01</span>
            <th:block th:if="${not #lists.isEmpty(post.categories)} and ${theme.config.style.show_categories}">
                <span class="post-category" th:data-categories="${post.categories[0].metadata.name}">
                    <span class="iconfont-archer post-category-icon">&#xe606;</span>
                    <span class="post-category-text" th:text="${post.categories[0].spec.displayName}">Category</span>
                </span>
            </th:block>
        </div>
        <div class="abstract-tags" th:if="${not #lists.isEmpty(post.tags)}">
            <a class="post-tag" th:each="tag : ${post.tags}" th:data-tags="${tag.metadata.name}"
                th:text="${tag.spec.displayName}">
                Tag
            </a>
        </div>
    </div>

</article>