<th:block th:fragment="head(_title, _head)">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit" />
  <meta name="author" th:content="${theme.config.profile.author ?: site.title}" />
  <meta name="copyright" th:content="${theme.config.profile.author ?: site.title}" />
  <meta
    name="keywords"
    th:content="${#strings.isEmpty(theme.config.custom.keywords) ? site.title + ',' + (theme.config.profile.author ?: site.title) : theme.config.custom.keywords}"
  />
  <meta name="description" th:content="${#strings.isEmpty(site.description) ? site.title : site.description}" />
  <meta http-equiv="Cache-control" content="no-cache" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <link rel="icon" th:href="${theme.config.basic.favicon ?: site.favicon}" />
  <title th:text="${_title != null ? _title : (theme.config.seo?.SEO_title ?: site.title)}"></title>

  <!-- Base preload polyfill -->
  <script>
    (function (w) {
      'use strict'
      if (!w.loadCSS) {
        w.loadCSS = function () {}
      }
      var rp = (loadCSS.relpreload = {})
      rp.support = (function () {
        var ret
        try {
          ret = w.document.createElement('link').relList.supports('preload')
        } catch (e) {
          ret = false
        }
        return function () {
          return ret
        }
      })()
      rp.bindMediaToggle = function (link) {
        var finalMedia = link.media || 'all'
        function enableStylesheet() {
          link.media = finalMedia
        }
        if (link.addEventListener) {
          link.addEventListener('load', enableStylesheet)
        } else if (link.attachEvent) {
          link.attachEvent('onload', enableStylesheet)
        }
        setTimeout(function () {
          link.rel = 'stylesheet'
          link.media = 'only x'
        })
        setTimeout(enableStylesheet, 3000)
      }
      rp.poly = function () {
        if (rp.support()) {
          return
        }
        var links = w.document.getElementsByTagName('link')
        for (var i = 0; i < links.length; i++) {
          var link = links[i]
          if (link.rel === 'preload' && link.getAttribute('as') === 'style' && !link.getAttribute('data-loadcss')) {
            link.setAttribute('data-loadcss', true)
            rp.bindMediaToggle(link)
          }
        }
      }
      if (!rp.support()) {
        rp.poly()
        var run = w.setInterval(rp.poly, 500)
        if (w.addEventListener) {
          w.addEventListener('load', function () {
            rp.poly()
            w.clearInterval(run)
          })
        } else if (w.attachEvent) {
          w.attachEvent('onload', function () {
            rp.poly()
            w.clearInterval(run)
          })
        }
      }
      if (typeof exports !== 'undefined') {
        exports.loadCSS = loadCSS
      } else {
        w.loadCSS = loadCSS
      }
    })(typeof global !== 'undefined' ? global : this)
  </script>

  <!-- Stylesheets -->
  <link
    id="stylesheet-fancybox"
    rel="preload"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0.36/dist/fancybox/fancybox.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0.36/dist/fancybox/fancybox.css" />
  </noscript>
  <link
    id="stylesheet-base"
    rel="preload"
    th:href="@{/assets/css/style.css}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
  </noscript>
  <link
    id="stylesheet-mobile"
    rel="preload"
    th:href="@{/assets/css/mobile.css}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet';this.media='screen and (max-width: 960px)'"
  />
  <noscript>
    <link rel="stylesheet" th:href="@{/assets/css/mobile.css}" media="screen and (max-width: 960px)" />
  </noscript>
  <link
    id="stylesheet-theme-dark"
    rel="preload"
    th:href="@{/assets/css/dark.css}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link rel="stylesheet" th:href="@{/assets/css/dark.css}" />
  </noscript>

  <!-- Fonts -->
  <link
    rel="preload"
    href="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
    as="script"
  />
  <link rel="preload" th:href="@{/assets/scripts/main.js}" as="script" />
  <link
    rel="preload"
    th:href="@{/assets/font/Oswald-Regular.ttf}"
    as="font"
    type="font/ttf"
    crossorigin
  />
  <link
    rel="preload"
    href="https://at.alicdn.com/t/font_327081_1dta1rlogw17zaor.woff"
    as="font"
    type="font/woff"
    crossorigin
  />
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_327081_1dta1rlogw17zaor.css" />

  <th:block th:replace="~{modules/variables/site-config}" />

  <style th:if="${not #strings.isEmpty(theme.config.custom.code_css)}" th:utext="${theme.config.custom.code_css}"></style>
  <th:block th:if="${_head != null}" th:replace="${_head}" />
  <th:block th:if="${not #strings.isEmpty(theme.config.custom.head_html)}" th:utext="${theme.config.custom.head_html}"></th:block>
</th:block>
