<th:block th:replace="~{modules/layout :: html(content = ~{::content}, page_js = ~{::page_js}, title = 'Categories', templateId = 'categories')}">
  <th:block th:fragment="content">
    <main class="main categories-page">
      <div class="categories-container">
        <ul class="category-list">
          <th:block th:replace="~{modules/partials/category-tree :: category-tree(${categories})}"></th:block>
        </ul>
      </div>
    </main>
  </th:block>
  <th:block th:fragment="page_js"></th:block>
</th:block>
