<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout (~{::body})">
  <body>
    <div th:fragment="content">
      <section class="posts-list">
        <h1>Latest Posts</h1>
        <ul>
          <li th:each="post : ${posts}">
            <a th:href="@{${post.permalink}}" th:text="${post.title}">Post title</a>
            <span class="meta" th:text="${#dates.format(post.publishedAt,'yyyy-MM-dd')}">2025-01-01</span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>