<th:block th:fragment="customFont">
  <th:block th:if="${theme.config.custom_font.enable == true}">
    <script th:inline="javascript">
      if (typeof browserSupportCSSVariables === 'undefined') {
        var browserSupportCSSVariables = window.CSS && window.CSS.supports && window.CSS.supports('--a', 0);
      }
    </script>
    <script th:inline="javascript">
      if (browserSupportCSSVariables) {
        window.customFontConfig = {
          name: /*[[${theme.config.custom_font.name}]]*/ '',
          url: /*[[${theme.config.custom_font.url}]]*/ ''
        };
        if (!window.customFontConfig.name || !window.customFontConfig.url) {
          console.warn('Custom font name or url is missing.');
        }
      } else {
        console.error("Current browser doesn't support custom font.");
      }
    </script>
    <script th:src="@{/assets/scripts/customFontLoader.js}" defer></script>
  </th:block>
</th:block>
