<th:block th:fragment="siteMeta">
  <script th:inline="javascript">
    /*<![CDATA[*/
    var siteMetaRoot = /*[[${site.baseUrl != null ? site.baseUrl : '/'}]]*/ '/';
    if (siteMetaRoot === 'undefined') {
      siteMetaRoot = '/';
    }
    window.siteMeta = {
      url: /*[[${site.url != null ? site.url : site.baseUrl}]]*/ '',
      root: siteMetaRoot,
      author: /*[[${theme.config.profile.author != null ? theme.config.profile.author : site.title}]]*/ ''
    };
    /*]]>*/
  </script>
</th:block>
