name: Release Theme

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract version
        id: get_version
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Get Tag Message
        id: tag_msg
        run: |
           TAG_MSG=$(git tag -l --format='%(contents)' ${{ github.ref_name }})
           echo "TAG_MSG<<EOF" >> $GITHUB_ENV
           echo "$TAG_MSG" >> $GITHUB_ENV
           echo "EOF" >> $GITHUB_ENV

      - name: Package theme
        run: |
          zip -r halo-theme-archer-${{ env.VERSION }}.zip templates settings.yaml theme.yaml README.md

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ env.VERSION }}
          body: ${{ env.TAG_MSG }}
          files: halo-theme-archer-${{ env.VERSION }}.zip
          draft: false
          prerelease: false
