<th:block th:fragment="footerFixed(templateId)">
  <footer class="footer-fixed" th:classappend="${templateId == 'index'} ? ' index-footer-fixed'">
    <th:block th:if="${templateId == 'post' and theme.config.donate.enable}">
      <th:block th:replace="~{_partial/donate-popup :: donatePopup}" />
      <div
        title="Donate to the author"
        class="footer-fixed-btn footer-fixed-btn--hidden donate-btn"
        th:classappend="${theme.config.style.float_button_theme == 'rounded'} ? ' footer-fixed-btn--rounded' : ''"
      >
        <i class="fas fa-donate"></i>
      </div>
    </th:block>
    <div
      class="footer-fixed-btn footer-fixed-btn--hidden back-top"
      th:classappend="${theme.config.style.float_button_theme == 'rounded'} ? ' footer-fixed-btn--rounded' : ''"
    >
      <i class="fas fa-chevron-up" th:if="${theme.config.style.float_button_theme == 'rounded'}"></i>
      <div th:if="${theme.config.style.float_button_theme != 'rounded'}">&#xe639;</div>
    </div>
  </footer>
</th:block>
